#container {
  margin: 0;
  padding: 1em;
  width: 100%;
}

.draggable {
  background-color: burlywood;
}

.droppable {
  background-color: brown;
}

.draggable, .droppable {
  display: inline-block;
  margin: 1em;
  padding: 1em;
  width: 10em;
  height: 10em;
}